body {
  font-family: Inter, sans-serif;
  margin:0;
  box-sizing: border-box;
}
.cardList{
  padding-left: 40px;
}

.header {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  color: #fff;
  padding: 20px auto;
  margin-bottom: 45px;
}

#logo {
  color: #fff;
  width: 24px;
  height: 24px;
}

.header > h1 {
  margin-left: 7px;
  color: #FFF;
  font-family: Inter;
  font-size: 14.461px;
  font-weight: 500;
  letter-spacing: -1.085px;
}
.card {
  display: flex;
  flex-direction: row;
  color: #2B283A;
  margin: 0 0 36px 0;
}

.card-image {
  width: 125px;
  min-height: 168px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 5px;
}

.card-info {
  display: flex;
  padding: 19px;
  flex-direction: column;
  height: 168px;

}

.card-location-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
}

.location {
  margin: 0 12px 0 4px;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 1.741px;
  text-transform: capitalize;
}

.pin {
  height: 12.24px;
}

.google-map {
  color: #918E9B;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
}

.duration {
  font-size: 10.24px;
  font-weight: 700;
}

.description {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  width: 326px;
}